/**
 * 色系
 */

// 主题
$color-theme-orange: #FF7A64;
$color-theme-light-orange: #FF937A;
$color-theme-rose: #f6336d;
$color-theme-gold: #E9BA7D;
$color-theme-light-gold: #FFD399;
$color-theme-black: #333;
$color-theme-red: #E93B3D;
$color-theme-light-red: #EC585A;
$color-theme-dark-red: #E32D2F;

// 全局/品牌色
$brand-primary: #108ee9;
$brand-primary-tap: #0e80d2;
$brand-success: #6abf47;
$brand-warning: #ffc600;
$brand-error: #f4333c;
$brand-important: #ff5b05;  // 用于小红点
$brand-wait: #108ee9;

// 文字

$color-light: #fff;
$color-title-text: #232323;
$color-main-text: #333;
$color-sub-text: #666;
$color-sec-text: #767676;
$color-desc-text: #999;
$color-btn: #232323;
$color-border: #d8d8d8;
$color-border-light: #F2F2F2;
$color-light-border: #f0f0f0;
$color-disabled: #c3c3c3;
$color-mask: rgba(51, 51, 51, 0.6);
$color-gradient-theme: linear-gradient(135deg, rgba(255, 147, 122, 1) 0%, rgba(255, 122, 100, 1) 100%);

$color-text-base: #000;                  // 基本
$color-text-base-inverse: #fff;          // 基本 - 反色
$color-text-secondary: #a4a9b0;          // 辅助色
$color-text-placeholder: #bbb;           // 文本框提示
$color-text-disabled: #bbb;              // 失效
$color-text-caption: #888;               // 辅助描述
$color-text-paragraph: #333;             // 段落
$color-link: $brand-primary;             // 链接

// bg color
$fill-base: #fff;                           // 组件默认背景
$fill-body: #f5f5f9;                        // 页面背景
$fill-tap: #ddd;                            // 组件默认背景 - 按下
$fill-disabled: #ddd;                       // 通用失效背景
$fill-mask: rgba(0, 0, 0, 0.4);              // 遮罩背景
$color-icon-base: #ccc;                      // 许多小图标的背景，比如一些小圆点，加减号
$fill-grey: #f7f7f7;

// 边框色
$border-color-base: #ddd;

// 透明度
$opacity-disabled: 0.3;   // switch checkbox radio 等组件禁用的透明度
